@model Management.ViewModel.Categories.UpdateCategoryInput
@{
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.ID)
        <p>@Html.LabelFor(m => m.Name)</p>
        <p>@Html.EditorFor(m => m.Name)</p>
        <input type="submit" value="Edit" />
        <span class="btn btn-link">@Html.ActionLink("Back to List", "Index") </span>
    }

}
